<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yehia.album">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:supportsRtl="true">

        <activity
            android:name="com.yehia.album.app.album.AlbumActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.yehia.album.app.album.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.yehia.album.app.album.NullActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.yehia.album.app.gallery.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.yehia.album.app.gallery.GalleryAlbumActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.yehia.album.app.camera.CameraActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Album.Theme.Activity.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            tools:ignore="Instantiatable" />

        <provider
            android:name="com.yehia.album.provider.CameraFileProvider"
            android:authorities="${applicationId}.app.file.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/album_camera_provider" />
        </provider>

    </application>

</manifest>